<div class="container">
  <p>Chat Window</p>

  <mat-card class="example-card">
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon class="bookmark" mat-list-icon>bookmark</mat-icon>
          <div mat-line>nuf</div>
          <div mat-line>kasny</div>
          <mat-divider [inset]="true"></mat-divider>
        </mat-list-item>
      </mat-list>

      <button mat-raised-button class="button-right">
        <mat-icon>clear</mat-icon>
        CLEAR CHAT WINDOW
      </button>

    </mat-card-content>
  </mat-card>
</div>



