mat-card {
  height: 550px;
}

.container {
  padding: 20px 15px;
}

mat-icon.bookmark {
  color: #818284;
}

.button-right {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 23px;
  background-color: #6200EE;
  color: white;
}

::ng-deep .mat-list .mat-list-item .mat-line {
  word-wrap: break-word;
  white-space: pre-wrap;
}

::ng-deep .mat-list .mat-list-item {
  height: initial !important;
}

mat-list-item:last-child:before,
mat-list-item:last-child:after {
  margin: 20px;
}
