
<div class="container">
  <p class="row" style="font-size: 0.7em">Material Design</p>

  <div class="row">
    <h1 style="font-size: 2em">Simple Chat Application</h1>
    <button mat-raised-button class="button-right">
      <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
      ADD NEW PERSON
    </button>
  </div>
</div>

<hr class="row">

<div class="left">
  <div class="wrapper">
    <!-- TODO: obmedzit na 9 ludi-->
    <app-person></app-person>
    <app-person></app-person>
    <app-person></app-person>
    <app-person></app-person>
    <app-person></app-person>
    <app-person></app-person>
    <app-person></app-person>
  </div>
</div>

<div class="right">
  <app-chat-window></app-chat-window>
</div>


