
<div class="container">
  <p class="row x-small">Material Design</p>

  <div class="row">
    <h1 class="xx-large">Simple Chat Application</h1>
    <button
        [disabled]="persons.length > 8"
        mat-raised-button
        class="button-right button-primary"
        (click)="addPerson()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
      ADD NEW PERSON
    </button>
  </div>
</div>

<hr class="row">

<div class="left">
  <div class="wrapper">
    <ng-container *ngFor="let person of persons">
      <app-person [person]="person"></app-person>
    </ng-container>
  </div>
</div>

<div class="right">
  <app-chat-window></app-chat-window>
</div>


